# Secrets
.env
.env.*
!.env.example

# Node
node_modules/
*.tsbuildinfo

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
ios/Pods/
ios/build/
android/.gradle/
android/build/
android/app/build/
android/app/release/
*.apk
*.ipa
*.aab

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
